/* Stili per il componente Header */
.app-header {
    background-color: #2c3e50; /* Blu scuro */
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Spazio sotto l'header */
}

.app-header h1 {
    margin: 0;
    font-size: 2.5em;
}
